*{
    color: white;
    margin: 0 auto;
    background-color: transparent;
    font-family: 'Sriracha', cursive;
    text-align: center;
    max-width: 100%;
    font-size: large;
    text-transform: uppercase;
}
body{
    background-color: #313131;
}
.container{  
    display: grid;
    grid-template-rows: 5% 65% 23% 7%;
    width: 100vw;
    height: 100vh;
    gap: 5px;
    background-color: #202020;
    border-radius: 5px;
}


h1{
    color: #F285AD;
}



#img{
    height: 98%;
    object-fit:cover;
}
#cover{
    height: 98%;
    object-fit:cover;

}




#botoes{
    width: 100%;
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 35px;
    background-color: #F285AD;
    border-color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
}
#btnparar{
    display: none;
}

:disabled{
    background-color: #8b8084;
    border-color: rgb(255, 255, 255) ;
    color: rgb(211, 211, 211);
}



#rodape{
    width: 100px;
    position: fixed;
    bottom: 0%;
    left: 5px;
    grid-area: f;
}
