*{
    color: white;
    margin: 0 auto;
    background-color: transparent;
    font-family: 'Crafty Girls', cursive;
    text-align: center;
    max-width: 100%;
    font-size: large;
    
}

body{
    background-color: #313131;
}
.container{
    
    display: grid;
    grid-template-areas: 
    "n"
    "i"
    "d";
    width: 100vw;
    height: 100vh;
    gap: 5px;
    background-color: #202020;
    border-radius: 5px;

}

#nome h1{
    margin-top: 25px;
    width: 95%;
    grid-area: n;
    color: #F285AD;
    text-transform: uppercase;
}
#img{
    grid-area: i;
}
#cover{
    max-height: 500px;
    border-radius: 10px;
    
}


#btn{
    text-align: center;
    grid-area: d;
    min-width: 200px;
    height: 100px;
    border-radius: 35px;
    background-color: #F285AD;
    border-color: rgb(255, 255, 255);
    text-transform: uppercase;
}
